.app-smartphone {
  background-image: url("../../../../public/images/smartphone.png");
  background-repeat: no-repeat;
  width: 465px;
  height: 980px;

  display: grid;
  justify-content: center;
  align-content: center;
}
