@import "public/styles/positions";
@import "public/styles/fonts";
@import "public/styles/mediaquery";
@import "public/styles/colors";

.app-secondslide {
  @include max-width-height;
  margin-top: 200px;
  display: grid;
  align-items: center;
  grid-template-rows: 0fr 0fr;
  color: $white-color;

  h1 {
    font-size: $big-font;
  }

  button {
    background-color: #fff;
    width: 100px;
    height: 40px;
    margin-left: 40px;
    font-weight: $strong-text;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: 10%;
    padding: 0 20px;
    justify-content: center;

    @include responsive(extraLarge) {
      grid-template-columns: repeat(3, 300px);
    }
  }

  .two-columns {
    @include responsive(extraLarge) {
      grid-template-columns: repeat(2, 300px);
    }
  }
}
