@import "public/styles/positions";
@import "public/styles/fonts";
@import "public/styles/mediaquery";
@import "public/styles/colors";

.storybook-features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  padding: 0 20px;
  justify-content: center;

  @include responsive(extraLarge) {
    grid-template-columns: repeat(3, 300px);
  }

  .two-columns {
    @include responsive(extraLarge) {
      grid-template-columns: repeat(2, 300px);
    }
  }
}
