@import "public/styles/colors";
@import "public/styles/positions";

.app-header {
  @include max-width-height;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: start;
  justify-items: center;
  align-items: center;

  &__promotional {
    margin-left: 20px;
    width: 600px;
  }

  &__smartphone {
    position: relative;
  }
}
