@import "public/styles/fonts";
@import "public/styles/colors";

.app-navbar {
  color: $white-color;
  position: absolute;
  opacity: $opacity-low;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0;

  .logo {
    text-align: left;
  }

  h1 {
    font-size: $big-font;
  }
}
