// Text colors
$main-color: #000;
$white-color: #fff;
$error: red;

// Background colors
$transparent-bg: rgba(255, 255, 255, 0.226);
$transparent-bg-hover: rgba(255, 255, 255, 0.322);

// Accent colors
$purple: rgba(2, 0, 36, 1);
