@import "public/styles/colors";

.app-contactform {
  form {
    display: grid;
    gap: 10px;
    text-align: center;

    input[type="text"] {
      border-radius: 5px;
      text-align: center;
      font-weight: 600;
      border-color: $purple;

      &::placeholder {
        opacity: 0.8;
        text-align: center;
      }
    }

    button,
    input {
      border-radius: 5px;
      padding: 10px;
    }
  }
}
